<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,inital=1" />
		<title>仿佛来自虚空</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">仿佛来自虚空</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#"><span></span> home</a></li>
				<li><a href="#"><span></span> other</a></li>
				</ul>
		</nav>
        {% block main %}
        {% endblock %}
	</body>
</html>
