<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>仿佛来自虚空</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
	<body>
        <div class="panel panel-default col-ms-12 col-xs-12 col-lg-offset-2 col-lg-8 col-md-10 col-md-offset-1" >
		    <div class="panel-body">
			     <h2>{{ no.title }}</h2>
                <hr>
                 <h4 style="padding-top: 2em">{{ no.content|safe }}</h4>
            </div>
        </div>
	</body>
</html>
